@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.RazorPages
@namespace MotoBikeShop.Areas.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        if (user != null)
        {
            var fullName = user.FullName;
            <li class="nav-item">
                <button id="manage" class="text-decoration-none navbar-text"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile @fullName!</button>
            </li>
            if (User.IsInRole("Admin"))
            {
                <script>
                    window.location.href = '/admin';
                </script>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "admin" })">
                        <button id="logout" type="submit" class="bg-light" >Logout</button>
                    </form>
                </li>
            }
            else
            {
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                    <button id="logout" type="submit">Logout</button>
                </form>
            }

             
          
        }
    }
    else
    {
        <li class="nav-item">
            <a  id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a  id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
