
@{
    ViewData["Title"] = "SubmitEmail";
}

<body>

	<div class="container-fluid contact p-5 my-5">
		<div class="container">
			<div class="p-5 my-5 bg-light rounded">
				<div class="row g-4">
					<div class="col-12">
						<div class="text-center mx-auto" style="max-width: 1000px;">
							<h1 class="text-primary">Cảm ơn Bạn Đã thông tin đến chung tôi, chúng tôi sẽ gửi cho bạn những sản phẩm mới và những chương trình khuyến mãi mới nhất</h1>
							<h3 class="text-danger">@TempData["Message"]</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>



