@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <header>
        <!-- Mã HTML cho header -->
        <style>
            header {
                /* Kích thước và vị trí của header */
            }

            .slideshow-wrapper {
                margin-top: 140px; /* Khoảng cách từ header xuống */
                position: relative;
            }

            .slideshow-container {
                max-width: 100%;
            }

            .slide {
                display: none;
            }
        </style>
    </header>

    <div class="slideshow-wrapper">
        <div class="slideshow-container m-auto my-5">
            <div class="slide">
                <img src="https://cdn.honda.com.vn/motorbikes/November2023/kNVJB3JFDcUks35GBavy.png" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="https://cdn.honda.com.vn/motorbikes/November2023/up2hFvPM9db0M1N5m3fY.jpg" alt="Slide 1">
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 0;
        let slides = document.getElementsByClassName("slide");

        function showSlide() {
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex].style.display = "block";

            slideIndex++;
            if (slideIndex === slides.length) {
                slideIndex = 0;
            }

            setTimeout(showSlide, 3000);
        }

        document.addEventListener("DOMContentLoaded", showSlide);
    </script>
</body>
</html>