
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}




<html>
    <head>

    </head>
    <body>
    <canvas id="userRegistrationChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    </body>
</html>